@namespace BlazorUI
@page "/HomePage"
@inherits LzComponentBaseInjectViewModel<ICurrentSessionViewModel>

<MudPaper Height="400px" Width="600px">
    <MudContainer Fixed="true">

        @if (ViewModel!.IsSignedIn)
        {
            <h1>Welcome, @ViewModel!.AuthProcess.Login</h1>
        }
        else
        {
            <h1>Hi there, lets get connected!</h1>
        }
        <LzAuth ViewModel="@ViewModel!.AuthProcess" />

    </MudContainer>
</MudPaper>

@code {

}